.profile-card {
  display: flex;
  justify-content: flex-start;
  height: 150px;
  background-color: #faf7f8;
  width: 100%;
}
.profile {
  height: 100px;
  width: 100px;
}
.back-button {
  margin-right: 5px;
  color: #b2b8b9;
}
.navigate-button {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
.profile-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20px;
}
.profile-header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  font-weight: 700;
}
.profile-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
.icon-style {
  height: 15px;
  width: 15px;
  padding: 5px 5px 0px 0px;
}
.timing-heder {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}
.timing-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 150px;
  background-color: #f7f9fa;
  margin-top: 20px;
  padding-left: 15px;
  flex-direction: row;
}

.time-slot {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 30px;
  width: 30%;
  margin: 15px 10px 0px 0px;
  color: rgb(88, 86, 86);
  font-size: 12px;
}
.rate-style {
  height: 15px;
  width: 15px;
  padding: 5px 5px 0px 0px;
  color: rgb(255, 153, 0);
}

.custom-toast {
  --min-height: 100px; /* Increase height here */
  --border-radius: 5px; /* Optional: Modify the border-radius */
  --background: #fdfdfd; /* Optional: Customize background */
  --color: rgb(22, 21, 21); /* Optional: Customize text color */
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 20;
  margin-bottom: 13%;
}
.list-Card {
  height: 90px;
  width: 100%;
  background-color: #f0f3f4;
}
.avatar-img {
  height: 70px;
  width: 70px;
}
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.location-button {
  height: 20px;
  width: 20px;
  margin: 5px 3px 0px 0px;
}
.custom-footer {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.custom-button{
  color: white;
  margin: 20px;
}