.custom-fab-button {
    --background: #047857;
    --ripple-color: #064e3b;
}

.custom-item {
    position: relative;
}
/* 
.item-content {
    padding-right: 80px;
} */
.item-content h2{
    font-weight: 600;
font-size: 19px;}
.item-content p{
    font-weight: 400;
font-size: 14px;
color: #777;}

.status-chip {
    position: absolute;
    top: 8px;
    right: 8px;
}