/* NoticeBoard.css */
.filter-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.select-button {
    --background: #fff;
    --color: #0284c7;

    --border-radius: 10px;
    --border-color: #0284c7;
    --border-style: solid;
    --border-width: 1px;


    --ripple-color: #7dd3fc;

    --padding-top: 10px;
    --padding-bottom: 10px;
}
.Event-title{
    font-weight: 700;
}